<template name="listsShow">
  <div class="page lists-show">
    <nav class="js-title-nav">
        <div class="nav-group">
          <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
        </div>
        <div>
             <h1>Available Showings</h1>
        </div>
<!--
      {{#if editing}}
        <form class="js-edit-form list-edit-form">
          <input type="text" name="name" value="{{name}}">
          <div class="nav-group right">
            <a href="#" class="js-cancel nav-item"><span class="icon-close js-cancel" title="Cancel"></span></a>
          </div>
        </form>
      {{else}}
        <div class="nav-group">
          <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
        </div>

        <h1 class="js-edit-list title-page"><span class="title-wrapper">{{name}}</span> <span class="count-list">{{incompleteCount}}</span></h1>

        <div class="nav-group right">
          <div class="nav-item options-mobile">
            <select class="list-edit">
              <option disabled selected>Select an action</option>
              {{#if userId}}
                <option value="public">Make Public</option>
              {{else}}
                <option value="private">Make Private</option>
              {{/if}}
              <option value="delete">Delete</option>
            </select>
            <span class="icon-cog"></span>
          </div>
          <div class="options-web">
            <a class="js-toggle-list-privacy nav-item">
              {{#if userId}}
                <span class="icon-lock" title="Make list private"></span>
              {{else}}
                <span class="icon-unlock" title="Make list public"></span>
              {{/if}}
            </a>

            <a class="js-delete-list nav-item">
              <span class="icon-trash" title="Delete list"></span>
            </a>
          </div>
        </div>
      {{/if}}

      <form class="js-todo-new todo-new input-symbol">
        <input type="text" placeholder="Type to add new tasks">
        <span class="icon-add js-todo-add"></span>
      </form>
-->
    </nav>

    <div class="content-scrollable list-items">
      <table class="table table-condensed" style="border-collapse:collapse;">
    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Description</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
            <td>1</td>
            <td>05 May 2013</td>
            <td>Credit Account</td>
            <td class="text-success">$150.00</td>
            <td class="text-error"></td>
            <td class="text-success">$150.00</td>
        </tr>
        <tr >
            <td colspan="6" class="hiddenRow"><div class="accordian-body collapse" id="demo1"> Demo1 </div> </td>
        </tr>
        <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
            <td>2</td>
            <td>05 May 2013</td>
            <td>Credit Account</td>
            <td class="text-success">$11.00</td>
            <td class="text-error"></td>
            <td class="text-success">$161.00</td>
        </tr>
        <tr>
            <td colspan="6" class="hiddenRow"><div id="demo2" class="accordian-body collapse">Demo2</div></td>
        </tr>
        <tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
            <td>3</td>
            <td>05 May 2013</td>
            <td>Credit Account</td>
            <td class="text-success">$500.00</td>
            <td class="text-error"></td>
            <td class="text-success">$661.00</td>
        </tr>
        <tr>
            <td colspan="6"  class="hiddenRow"><div id="demo3" class="accordian-body collapse">Demo3</div></td>
        </tr>
    </tbody>
</table>
      <table class="table table-striped" style="border-collapse:collapse;" >
          <thead>
              <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
            {{#if todosReady}}

                {{#each todos this}}
                  {{> todosItem}}
                {{else}}
                  <div class="wrapper-message">
                    <div class="title-message">No tasks here</div>
                    <div class="subtitle-message">Add new tasks using the field above</div>
                  </div>
                {{/each}}
            {{else}}
                <div class="wrapper-message">
                  <div class="title-message">Loading tasks...</div>
                </div>
            {{/if}}
          </tbody>
      </table>
    </div>
  </div>
</template>
