<template name="todosItem">
  <div class="list-item {{checkedClass}} {{editingClass}}">
    <label class="checkbox">
      <input type="checkbox" checked="{{checked}}" name="checked">
      <span class="checkbox-custom"></span>
    </label>
    <input type="text" value="{{showingDate}} | {{showingAddress}}" placeholder="Task name" disabled="true">   
    {{#if isOwner}}
      <button class="btn-primary js-delete-item">Remove</button>
    {{else}}
      {{#if isAcceptedOwner}}
        <button class="btn-primary js-unaccept-item">UnAccept</button>
      {{else}}
        <button class="btn-primary js-accept-item">Accept</button>
      {{/if}}
    {{/if}}
  </div>
</template>