<template name="todosItem">
  <div class="list-item {{checkedClass}} {{editingClass}}">
    <label class="checkbox">
      <input type="checkbox" checked="{{checked}}" name="checked">
      <span class="checkbox-custom"></span>
    </label>

    <input type="text" value="{{showingAddress}}" placeholder="Task name">
    {{#if isOwner}}
      <button class="btn-primary js-delete-item">Remove</button>
    {{else}}
      <button class="btn-primary js-delete-item">Accept</button>
    {{/if}}
  </div>
</template>