<template name="profile">
  <div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth">Edit Profile</h1>
        <p class="subtitle-auth" ></p>

        <form>
          {{#if errorMessages}}
            <div class="list-errors">
              {{#each errorMessages}}
                <div class="list-item">{{this}}</div>
              {{/each}}
            </div>
          {{/if}}

          <div class="input-symbol  {{errorClass 'email'}}">
            <input type="text" name="firstName" placeholder={{getCurrentFirstName}} />
            <span class="icon-email" title="First Name"></span>
          </div>

          <div class="input-symbol  {{errorClass 'password'}}">
            <input type="text" name="lastName" placeholder={{getCurrentLastName}} />
            <span class="icon-lock" title="Last Name"></span>
          </div>

          <div class="input-symbol {{errorClass 'confirm'}}">
            <input type="text" name="country" placeholder={{getCurrentCountry}} />
            <span class="icon-lock" title="Country"></span>
          </div>

          <div class="input-symbol  {{errorClass 'email'}}">
            <input type="text" name="city" placeholder={{getCurrentCity}} />
            <span class="icon-email" title="City"></span>
          </div>

          <button type="submit" class="btn-primary">Save Profile</button>
        </form>
      </div>
  </div>
  </div>
</template>
