<template name="profile">
  <div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth">Edit Profile</h1>
        <p class="subtitle-auth" ></p>

        <form>
          {{#if errorMessages}}
            <div class="list-errors">
              {{#each errorMessages}}
                <div class="list-item">{{this}}</div>
              {{/each}}
            </div>
          {{/if}}

          <div class="input-symbol  {{errorClass 'email'}}">
            <input type="text" name="firstName" placeholder="First Name" />
            <span class="icon-email" title="First Name"></span>
          </div>

          <div class="input-symbol  {{errorClass 'password'}}">
            <input type="text" name="lastName" placeholder="Last Name" />
            <span class="icon-lock" title="Last Name"></span>
          </div>

          <div class="input-symbol {{errorClass 'confirm'}}">
            <input type="text" name="country" placeholder="Coutry" />
            <span class="icon-lock" title="Country"></span>
          </div>

          <div class="input-symbol  {{errorClass 'email'}}">
            <input type="text" name="city" placeholder="City" />
            <span class="icon-email" title="City"></span>
          </div>

          <button type="submit" class="btn-primary">Join Now</button>
        </form>
      </div>

      <a href="{{pathFor 'signin'}}" class="link-auth-alt">Have an account? Sign in</a>
    </div>
  </div>
</template>
